/* xs */
@media all and (max-width:575px) {
    :root {
        font-size: 12px !important;
    }

    #home {
        background-image: url(../images/background-md.svg);
        height: 100vh;
        background-position: 47% 180%;
        background-size: 130%;
        text-align: center;
    }

    .frame img {
        width: 50% !important;
    }

    #present h2 {
        font-size: 30px;
    }

    #present>div {
        width: 90%;
    }

    #targeting {
        background-size: 406%;
        background-position: center;
    }

    #footer>div {
        width: 95% !important;
    }

}

/* sm    */
@media all and (min-width:576px) and (max-width:767px) {
    :root {
        font-size: 14px !important;
    }

    .frame img {
        width: 60% !important;
    }

    .frame p {
        font-size: 20px;
    }

    #present>div {
        width: 75%;
    }

    #targeting {
        background-size: 250%;
        background-position: center;
    }

}

/* md    */
@media all and (min-width:768px) and (max-width:991px) {
    .frame img {
        width: 70% !important;
    }

    #present>div {
        width: 75%;
    }

    #targeting {
        background-size: 200%;
        background-position: center;
    }


}


/* lg */
@media all and (min-width:992px) and (max-width:1199px) {
    .frame img {
        width: 80% !important;
    }

    #targeting {
        background-size: 110%;
        background-position: center;
    }


}

/* xl */
@media all and (min-width:1200px) {
    .frame img {
        width: 80% !important;
    }
}

@media (max-width:991px) {
    .create-btn {
        display: none;
    }
}